<div class="col-lg-6 col-md-5 offset-md-3 offset-lg-3">
  <div class="category-card-events">
    <category-card cardTitle="Zero Waste Events" cardImgPath="./../../../assets/img/events2.jpg"></category-card>
  </div>
</div>
<div class="col-lg-6 col-md-5 offset-md-3 offset-lg-3">
  <category-card cardTitle="Personal Goals" cardImgPath="./../../../assets/img/goals.jpg"></category-card>
</div>
<div class="col-lg-6 col-md-5 offset-md-3 offset-lg-3">
  <category-card cardTitle="Zero Waste Shops" cardImgPath="./../../../assets/img/shops.jpg"></category-card>
</div>

