@font-face {
  font-family: titleFont;
  src: url("../../assets/font/Black_And_White_Picture/BlackAndWhitePicture-Regular.ttf") format('truetype');
}
nav {
  font-size: 16px;

  fa-icon {
    display: block;
    font-size: 46px;
    text-align: center;

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
}

.navbar-brand {
  font-family: titleFont, sans-serf;
  font-size: 68px;
  margin-right: 182px;

  @media screen and (max-width: 767px) {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    display: none;
  }
}

.navbar-toggler {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

#second-chance-logo {
  img {
    z-index: 1040;
    height: 500px;
    position: fixed;
    right: 10px;
    top: 50px;
  }

  .logo-on-collapse {
    background: white;
    padding: 3px;
    border-top-left-radius: 41px;
    border-bottom-right-radius: 32px;
  }

  @media screen and (max-width: 1024px) {
    img {
      height: 268px;
    }
  }
  @media screen and (max-width: 767px) {
    img {
      height: 104px;
      top: 118px;
    }
  }
}
